* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header's banner */
.header {
    width: 16000;
    height: 800px;
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 200px;
}

.banner-title {
    margin-bottom: 25px;
    padding-top: 215px;
    font-weight: 700;
    font-size: 70px;
}

.banner-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.btn-primary {
    font-weight: 600;
    font-size: 18px;
    padding: 18px 35px;
    border: 0;
    height: 64px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
}

/* failures-content styles */
.content-section {
    display: flex;
    align-items: center;
    padding: 110px 300px 150px 220px;
}

.content {
    width: 410px;
    height: 400px;
    margin-left: 110px;
    margin-top: 150px;
}

.content-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    color: #0f0d0d;
}

.content-sub-title {
    margin-bottom: 20px;
    font-weight: 400px;
    font-size: 15px;
    color: #444343;
    gap: 30PX;
}

/* My plans styles */
.plan-section-title {
    text-align: center;
}

.my-plans {

    font-weight: 700;
    font-size: 30px;
}

.plans-container {
    display: flex;
    gap: 110px;
    text-align: center;
    padding: 50px 245px 130px 300px;
}

.plan-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.plans-description {
    color: #737272;
    font-weight: 500;
    font-size: 15px;
}

/* gradient section styles  */

.container {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");

    width: 1130px;
    height: 300px;
    margin: 135px 230px;
    border-radius: 8px;
}

.main {
    width: 450px;
    height: 180px;
    padding-left: 65px;
    padding-top: 60px;
}

.gradient-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.button {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 18px 35px;
    border: 0;
    height: 64px;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
}

/* extra-section styles  */
.extra-section {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), #79a9e8;

    width: 1130px;
    height: 350px;
    margin: 135px 230px;
    border-radius: 8px;
    text-align: center;
}

.exta {
    padding-top: 35px;
    color: #f3f4fc;
}

.exra-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

.exra-description {
    font-weight: 500;
    font-size: 20px;
    width: 500px;
    margin-bottom: 30px;
    margin-left: 300px;
}

/* contact styles */
.contact {
    display: flex;
    gap: 330px;
    background: #151414;
    color: #f3f4fc;
    padding: 130px 230px;
}

.contact.contact-title {
    text-align: left;
}

input {
    margin-bottom: 20px;
    margin-top: 30px;
    background: #151414;
    color: #F3F3F3;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    border: 1px;
}

.contact-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 18px;
}