* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header's banner */
.header {
    width: 16000;
    height: 800px;
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 230px;
}

.banner-title {
    margin-bottom: 25px;
    padding-top: 215px;
    font-weight: 700;
    font-size: 70px;
}

.banner-description {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.btn-primary {
    font-weight: 600;
    font-size: 18px;
    padding: 18px 35px;
    border: 0;
    height: 64px;
    color: #FFFFFF;
    background: #2b31d7;
    border-radius: 5px;
}

/* failures-content styles */
.content-section {
    display: flex;
    align-items: center;
    padding: 110px 300px 150px 220px;
}

.content {
    width: 410px;
    height: 400px;
    margin-left: 110px;
    margin-top: 150px;
}

.content-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    color: #0f0d0d;
}
.content-sub-title{
    margin-bottom: 20px;
    font-weight: 400px;
    font-size: 15px;
    color: #444343;
    gap: 30PX;
}
